@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #00f0ff; /* Neon Cyan */
  --secondary: #7000ff; /* Neon Purple */
  --accent: #ff0055; /* Neon Red */
  --surface: #121212;
  --surface-hover: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
